<nav class ="navbar navbar-expand-sm bg light navbar-light">

  <a class="navbar-brand" href="#">TRAININGS</a>

  <ul class ="navbar-nav">
    <li class ="nav-item">
      <a class="nav-link" routerLink="/trainings">Formations</a>
    </li>
    <a class="nav-link" routerLink="/cart">Contenu du Panier</a>
    
  </ul>
</nav>
<app-cart></app-cart>
<!-- <p>
  J'ai enlevé tout le bazard !!!
</p> -->

<!-- <li>
  <a routerLink="/trainings">liste des formations</a>
</li> -->

<router-outlet></router-outlet>
